body{
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #f0f0f0;
}

.container{
    display: flex;
    gap:20px;
}

.circle{
    width: 40px;
    height: 40px;
    background-color: blueviolet;
    border-radius: 50%;
    animation: grow-shrink 2s infinite;
}

.circle.delay{
    animation-delay: 1s ;
}

@keyframes grow-shrink {
    0%, 100%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.5);
    }
    
}